[package]
name = "sandbox-net"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
nix = { workspace = true, features = ["net"] }


[dev-dependencies]
tempfile = { workspace = true }
